main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.clock-body {
    width: min(50vh, 50vw);
    height: min(50vh, 50vw);
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 5%;
    background-color: lightseagreen;
}

.clock-body .clock-face {
    position:relative;
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: azure;
    border-radius: 50%;
}

.clock-body .clock-face .hand {
    width: 50%;
    top: 50%;
    position: relative;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: ease-in-out;
    height: 2%;
}

.clock-body .clock-face .hand-hour {
    background: black;
}

.clock-body .clock-face .hand-minute {
    background: gray;
}

.clock-body .clock-face .hand-second {
    background: red;
}