body {
    background-color: saddlebrown;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#image-frame {
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

#image-frame img {
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

